article p:first-of-type::first-letter {
    font: Times New Roman, Times, serif; 
    font-size: 36px;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 85%;
    height: 100px;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#menuItems {
    position: fixed;
    left: 0;
    height: 100%;
    margin-top: -22px;
    background-color: black;
    width: 15%;
}

main {
    margin-left: 15%;
}

#recentArticles {
    position: relative;
}



#jumpMenu{
    display: none;
    position: relative;
    background-color: gold;
    margin-top: -2px;
    z-index: 1000;
    transition: 2s ease;
}

#recentArticles:hover + #jumpMenu{
    display: block;
    background-color: gold;
    color: blue;
    transition: 2s ease;
}

#jumpMenu:hover {
    display:block;
    transition: 2s ease;
}


button {
    background-color: blue;
    color: white;
    padding: 10px; 
    font-size: 16px;
    text-align: center;

}

button:hover {
    background-color: darkgoldenrod;
}

#jumpMenu li:hover {
    background-color: lightblue;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    justify-content: center;
}

article {
    color: lightgrey;
    width: 300px;
      transition: all 2s ease;
    
}

article:hover {
    display:block;
  
    font-size: 120%;
    color: black;
}

article p:last-of-type::after {
    content: url('arrow.png');
    width: 5px; 
    height: 5px;
}