

@media screen and (max-width: 1920px){
    body{
        font-size: 1em;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    h1 {
    font-size: 30px;
    color: black;
    font-style: italic;

    p {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        justify-content: center;
    }
    
}
}


@media screen and (max-width: 412px) {

    body {
        font-size: .8em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    h1{
        font-size: 20px;
        align-items: center;
        color: blue;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        justify-content: center;
    }

    h3{
        color: blue;
    }
    

}